<section class="register">
    <form name="registrationForm"
          ng-submit="register()" novalidate>
        <h1>Register!</h1>
        <p>Register to access all the features</p>

        <input type="firstName" name="firstName" placeholder="First Name"
               ng-model="user.firstName" ng-required="true" autofocus>
        <p class="error validateonerror"
           ng-show="registrationForm.firstName.$invalid && registrationForm.firstName.$touched">
            First name is required
        </p>

        <input type="lastName" name="lastName" placeholder="Last Name"
               ng-model="user.lastName" ng-required="true" autofocus>
        <p class="error validateonerror"
           ng-show="registrationForm.lastName.$invalid && registrationForm.lastName.$touched">
            Last name is required
        </p>

        <input type="email" name="email" placeholder="Email"
               ng-model="user.email" ng-required="true" autofocus>
        <p class="error validateonerror"
           ng-show="registrationForm.email.$invalid && registrationForm.email.$touched">
            Email is required
        </p>

        <input type="password" name="password" placeholder="Password"
               ng-model="user.password" ng-required="true">

        <p class="error validateonerror"
           ng-show="registrationForm.password.$invalid && registrationForm.password.$touched">
            Password is required
        </p>

        <input type="password" name="confirmpassword" placeholder="Confirm Password"
               ng-model="user.confirmPassword" ng-required="true">

        <p class="error validateonerror"
           ng-show="registrationForm.confirmpassword.$invalid && registrationForm.confirmpassword.$touched">
            Confirm Password is required
        </p>

        <button type="submit" class="btn"
                ng-disabled="registrationForm.$invalid">Register</button>
    </form>
    <p>or <a href="#/login">Login</a></p>
</section>
